@media (max-width: 1600px) {
  /* header 1600 */

  .header__container {
    max-width: 1600px
  }

  /* main 1600 */

  /* hero 1600 */

  .hero__container {
    max-width: 1600px
  }

  .hero__descr {
    width: 70%;
  }

  /* about 1600 */

  .about__container {
    max-width: 1600px
  }

  .about__descr {
    width: 80%;
  }

  /* how 1600 */

  .how__container {
    max-width: 1600px
  }

  .accordion__content {
    width: 67%;
  }

  /* faq 1600 */

  .faq__container {
    max-width: 1600px
  }

  .faq__btn {
    text-align: left;
  }

  .question__text {
    width: 85%;
  }

  /* footer 1600 */

  .footer__container {
    max-width: 1600px;
    justify-content: space-between;
  }

  .footer__navigation {
    width: 32%;
  }

  .application {
    /* width: 32.4%; */
    width: max(32.4%, 567px);
  }

  .footer__box-right {
    width: 32%;
  }

  .box-right__text {
    width: 82%;
  }
}


@media (max-width: 1366px) {
  /* header 1366 */

  .header__container {
    max-width: 1366px;
  }


  /* main 1366 */

  /* hero 1366 */

  .hero__container {
    max-width: 1366px;
  }

  .hero__descr {
    width: 85%;
  }

  /* about 1366 */

  .about__container {
    max-width: 1366px;
  }

  /* how 1366 */

  .how__container {
    max-width: 1366px;
  }

  /* faq 1366 */

  .faq__container {
    max-width: 1366px;
  }

  /* footer 1366 */

  .footer__container {
    max-width: 1366px;
    padding: 50px 50px;
  }

  .box-right__text {
    width: 100%;
  }
}


/* 1200 = 1024 */
@media (max-width: 1200px) {
  /* header 1200 */
  .header {
    margin-bottom: 40px;
  }

  .header__container {
    position: relative;
    justify-content: space-between;
    max-width: 1200px;
    padding: 26px 50px;
  }

  .header__logo-link {
    margin-right: 0;
  }

  .header__logo {
    width: 150px;
    height: 48px;
    margin-bottom: 0;
  }

  .header__burger {
    visibility: visible;
    display: flex;
    order: -1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 30px;
    height: 23px;
    /* z-index: 20; */
  }

  .burger__line {
    width: 100%;
    min-height: 3px;
    background-color: var(--color-black);
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  /* бургер-меню */
  .stop-scroll {
    overflow: hidden;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: block;
    width: 420px;
    height: 100vh;
    padding: 38px 50px;
    border-radius: 0px 0px 32px 32px;
    background-color: var(--color-white);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    visibility: hidden;
    overflow-y: auto;
  }

  .header__burger-close {
    visibility: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 30px;
    height: 23px;
    margin-bottom: 108px;
  }

  .burger-close__line {
    width: 30px;
    min-height: 3px;
    background-color: var(--color-dark-gray);
  }

  .burger-close__line--top {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
  }

  .burger-close__line--bottom {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
  }

  .header__nav-list {
    flex-direction: column;
    gap: 60px;
  }

  .nav-list__item {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--color-dark-gray);
  }

  .nav-list__item:not(:last-child) {
    margin-right: 0;
  }

  .header__nav.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  /* end бургер-меню */

  .header__burger:focus-visible {
    outline: 2px solid var(--color-orange);
    outline-offset: 5px;
  }

  .header__burger:active .burger__line {
    background-color: var(--color-brown);
  }

  .header__burger:active .burger__line--middle {
    width: 25px;
  }

  .header__burger:active .burger__line--short {
    width: 18px;
  }

  /* main 1200 */

  .main {
    margin-bottom: 79px;
  }

  /* hero 1200 */

  .hero {
    margin-bottom: 36px;
  }

  .hero__container {
    max-width: 1200px;
    padding: 0 50px;
  }

  .hero__wrapper {
    min-height: 668px;
  }

  .hero__slide--1 {
    background-image: url('../img/hero__slide1--1024.webp');
  }

  .hero__slide--2 {
    background-image: url('../img/hero__slide2--1024.webp');
  }

  .hero__slide--3 {
    background-image: url('../img/hero__slide3--1024.webp');
  }

  .hero__descr {
    width: 100%;
    padding: 160px 76px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: -0.7px;
  }

  .hero__text {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  /* about 1200 */

  .about {
    margin-bottom: 75px;
  }

  .about__container {
    max-width: 1200px;
    padding: 0 50px;
  }

  .about__title {
    letter-spacing: -0.7px;
  }

  .about__descr {
    width: 100%;
    margin-bottom: 60px;
    letter-spacing: -0.2px;
  }

  .about__article {
    flex-direction: column;
  }

  .article__left {
    width: 100%;
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 28px;
  }

  .left-article__descr {
    letter-spacing: -0.17px;
  }

  .left-article__btn {
    padding: 17px 33px;
  }

  .article__right {
    width: 100%;
    /* min-height: 622px; */
  }

  .right-article__wrapper:not(:last-child) {
    margin-bottom: 24px;
  }

  .right-article__wrapper--bg1{
    background-size: 21%;
    background-position: 10% 48%;
  }

  .right-article__wrapper--bg2{
    background-size: 21%;
    background-position: 10% 48%;
  }

  .right-article__title {
    letter-spacing: -0.2px;
  }

  .right-article__descr {
    letter-spacing: -0.1px;
  }


  /* how 1200 */

  .how {
    margin-bottom: 80px;
  }

  .how__container {
    max-width: 1200px;
    padding: 0 50px;
  }

  .how__list {
    gap: 83px;
    margin-bottom: 49px;
  }

  .slider-left {
    width: 49%;
    margin-right: 33px;
  }

  .slider-left__title {
    width: 100%;
  }

  .slider-left__descr {
    width: 100%;
    margin-bottom: 24px;
  }

  .slider-left__btn-more {
    padding: 20px 36px;
  }

  .slider-left__btn-contract {
    padding: 20px 36px;
  }

  .slider-right {
    width: 47%;
  }

  .slider-right__image {
    width: 100%;
    height: 98%;
  }

  .slider-right__image--1 {
    background-image: url('../img/how__right-slide1--1024.webp');
  }

  .slider-right__image--2 {
    background-image: url('../img/how__right-slide2--1024.webp');
  }

  .slider-right__image--3 {
    background-image: url('../img/how__right-slide3--1024.webp');
  }

  .slider-right__image--4 {
    background-image: url('../img/how__right-slide4--1024.webp');
  }

  /* faq 1200 */

  .faq {
    margin-bottom: 0;
  }

  .faq__container {
    max-width: 1200px;
    padding: 0 50px;
  }

  .faq__title {
    letter-spacing: -0.5px;
  }

  .question__text {
    width: 75%;
    margin-right: auto;
    font-size: 20px;
    letter-spacing: -0.2px;
  }


  /* footer 1200 */

  .footer__container {
    max-width: 1200px;
    padding: 50px 48px;
  }

  .footer__navigation {
    width: 33%;
    margin-right: 120px;
  }

  .application {
    width: 67%;
    margin-right: 0;
  }

  .application__title {
    letter-spacing: -0.5px;
  }

  .application__btn {
    margin-right: 18px;
    padding: 19px 34px;
  }

  .footer__box-right {
    display: none;
  }
}


/* 992 = 768 */
@media (max-width: 992px) {
  /* header 992 */

  .header {
    min-height: 69px;
    margin-bottom: 40px;
  }

  .header__container {
    max-width: 992px;
    padding: 11px 50px;
  }

  .header__logo-link {
    width: max(23%, 110px);
  }

  .header__nav {
    padding: 22px 50px;
    border-radius: 0px 0px 24px 24px;
  }

  .header__burger-close {
    margin-bottom: 105px;
  }

  /* main 992 */

  .main {
    margin-bottom: 110px;
  }

  /* hero 992 */

  .hero__container {
    max-width: 992px;
  }

  .hero__wrapper {
    min-height: 662px;
    border-radius: 24px;
  }

  .swiper {
    border-radius: 24px;
  }

  .hero__slide--1 {
    border-radius: 24px;
    background-image: url('../img/hero__slide1--768.webp');
  }

  .hero__slide--2 {
    border-radius: 24px;
    background-image: url('../img/hero__slide2--768.webp');
  }

  .hero__slide--3 {
    border-radius: 24px;
    background-image: url('../img/hero__slide3--768.webp');
  }

  .hero__descr {
    padding: 160px 38px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
    /* letter-spacing: -0.1px; */
  }

  .hero__text {
    font-size: 18px;
    line-height: 22px;
    /* letter-spacing: 0; */
  }

  .hero__btn {
    padding: 25px 36px;
  }

  /* about 992 */

  .about {
    margin-bottom: 80px;
  }

  .about__container {
    max-width: 992px;
    padding: 0 48px;
  }

  .about__descr {
    margin-bottom: 54px;
    color: var(--color-dark-gray);
  }

  .article__left {
    min-height: 650px;
    border-radius: 24px;
  }

  .left-article__wrapper {
    padding: 34px 40px;
  }

  .left-article__descr {
    width: 65%;
    /* letter-spacing: -0.1px; */
  }

  .article__right {
    min-height: 100%;
  }

  .right-article__wrapper {
    /* padding: 34px 0; */
    /* padding-left: 166px; */
    padding: 5.5% 0;
    padding-left: 25%;
  }

  .right-article__wrapper:not(:last-child) {
    margin-bottom: 29px;
  }

  .right-article__wrapper--bg1{
    background-image: url('../img/about--bg1-1.svg');
    /* background-position: 39px 67px; */
    background-size: 17%;
    background-position: 7% 51%;
  }

  .right-article__wrapper--bg2 {
    background-image: url('../img/about--bg2-1.svg');
    /* background-position: 39px 67px; */
    background-size: 17%;
    background-position: 7% 51%;
  }

  .right-article__title {
    width: 100%;
    letter-spacing: -0.3px;
  }

  .right-article__descr {
    width: 98%;
    letter-spacing: -0.2px;
  }

  /* how 992 */

  .how {
    margin-bottom: 49px;
  }

  .how__container {
    max-width: 992px;
    padding: 0 49px;
  }

  .how__title {
    margin-bottom: 48px;
    letter-spacing: -0.7px;
  }

  .how__list {
    justify-content: space-between;
    gap: 0px;
  }

  .how__slider {
    flex-direction: column;
  }

  .slider-left {
    width: 100%;
    margin-right: 0;
  }

  .slider-left__title {
    letter-spacing: -0.3px;
  }

  .slider-left__descr {
    letter-spacing: -0.2px;
  }

  .slider-right {
    order: -1;
    width: 100%;
    margin-bottom: 39px;
    border-radius: 24px;
  }

  .slider-right__image {
    min-height: 284px;
  }

  .slider-right__image--1 {
    background-image: url('../img/how__right-slide1--768.webp');
  }

  .slider-right__image--2 {
    background-image: url('../img/how__right-slide2--768.webp');
  }

  .slider-right__image--3 {
    background-image: url('../img/how__right-slide3--768.webp');
  }

  .slider-right__image--4 {
    background-image: url('../img/how__right-slide4--768.webp');
  }

  /* faq */

  .faq__container {
    max-width: 992px;
    padding: 0 50px;
  }

  .faq__item {
    padding: 30px 0;
  }

  .question__text {
    width: 86%;
    letter-spacing: -0.3px;
  }

  .accordion__content {
    width: 77%;
  }

  /* footer 992 */

  .footer__container {
    flex-direction: column;
    max-width: 992px;
    padding: 50px 50px;
  }

  .footer__navigation {
    margin-right: 0;
  }

  .footer__nav {
    display: none;
  }

  .application {
    order: -1;
    /* width: 81%; */
    width: max(81%, 413px);
    margin-bottom: 50px;
  }

  .application__btn {
    margin-right: 17px;
  }
}


/* 576 = 320 */
@media (max-width: 576px) {
  /* header 576 */

  .header {
    margin-bottom: 30px;
  }

  .header__container {
    max-width: 576px;
    min-height: 69px;
    padding: 17px 15px;
  }

  .header__logo {
    width: 110px;
    height: 35px;
  }

  .header__nav {
    width: min(100%, 420px);
    /* max-width: 420px; */
    padding: 23px 15px;
    border-radius: 0px 0px 16px 16px;
  }

  .header__burger-close {
    margin-bottom: 32px;
  }

  .header__nav-list {
    gap: 32px;
  }

  .nav-list__item {
    font-size: 16px;
    line-height: 20px;
  }

  .header__search-wrapper {
    right: -15px;
    width: 320px;
    padding-left: 18px;
  }

  .header__input {
    padding: 0;
  }

  /* main 576 */

  .main {
    margin-bottom: 59px;
  }

  /* hero 576 */
  .hero {
    margin-bottom: 59px;
  }

  .hero__container {
    max-width: 576px;
    padding: 0 15px;
  }

  .hero__wrapper {
    min-height: 308px;
    border-radius: 16px;
  }

  .swiper {
    border-radius: 16px;
  }

  .hero__slide--1 {
    border-radius: 16px;
    background-image: url('../img/hero__slide1--320.webp');
  }

  .hero__slide--2 {
    border-radius: 16px;
    background-image: url('../img/hero__slide2--320.webp');
  }

  .hero__slide--3 {
    border-radius: 16px;
    background-image: url('../img/hero__slide3--320.webp');
  }

  .hero__descr {
    padding: 60px 21px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }

  .hero__text {
    margin-bottom: 33px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
  }

  .hero__btn {
    border-radius: 8px;
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 15px;
  }

  /* about 576 */

  .about {
    margin-bottom: 62px;
  }

  .about__container {
    max-width: 576px;
    padding: 0 15px;
  }

  .about__title {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0;
  }

  .about__descr {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.0px;
  }

  .article__left {
    align-items: flex-start;
    min-height: 403px;
    margin-bottom: 27px;
    padding-top: 208px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 290px 200px;
    background-position: 0 0;
  }

  .left-article__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    background: transparent;
  }

  .right-article__wrapper:not(:last-child) {
    margin-bottom: 32px;
  }

  .left-article__descr {
    width: 100%;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.0px;
    color: var(--color-black);
  }

  .left-article__btn {
    padding: 10px 42px;
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-orange);
  }

  .left-article__btn:focus,
  .left-article__btn:hover {
    color: var(--color-white);
  }

  .left-article__btn:active {
    border: 2px solid var(--color-brown);
  }

  .right-article__wrapper {
    padding: 0;
    /* padding-top: 61px; */
    padding-top: 21%;
    border: none;
  }

  .right-article__wrapper--bg1 {
    background-image: url('../img/about--bg1-3.svg');
    background-size: 22%;
    background-position: 0% 0%;
  }

  .right-article__wrapper--bg2 {
    background-image: url('../img/about--bg2-3.svg');
    background-size: 22%;
    background-position: 0% 0%;
  }

  .right-article__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.0px;
  }

  .right-article__descr {
    width: 100%;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.0px;
  }

  /* how 576 */

  .how {
    margin-bottom: 60px;
  }

  .how__container {
    max-width: 576px;
    padding: 0 15px;
  }

  .how__title {
    margin-bottom: 19px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.0px;
  }

  .how__list {
    margin-bottom: 15px;
  }

  .step-list__btn {
    font-size: 14px;
    line-height: 17px;
  }

  .slider-left__title {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.0px;
  }

  .slider-left__descr {
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.0px;;
  }

  .slider__btn-wrapper {
    display: flex;
  }

  .slider-left__btn-more {
    margin: 0;
    margin-right: 10px;
    padding: 11px 44px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .slider-left__btn-contract {
    padding: 11px 31px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .slider-right {
    width: 100%;
    margin-bottom: 16px;
  }

  .slider-right__image {
    min-height: 160px;
    border-radius: 16px;
  }

  .slider-right__image--1 {
    background-image: url('../img/how__right-slide1--320.webp');
  }

  .slider-right__image--2 {
    background-image: url('../img/how__right-slide2--320.webp');
  }

  .slider-right__image--3 {
    background-image: url('../img/how__right-slide3--320.webp');
  }

  .slider-right__image--4 {
    background-image: url('../img/how__right-slide4--320.webp');
  }

  /* faq 576 */

  .faq__container {
    max-width: 576px;
    padding: 0 15px;
  }

  .faq__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0;
  }

  .faq__item {
    padding: 30px 0;
  }

  .question__text {
    font-size: 14px;
    line-height: 24px;
  }

  .question__plus {
    width: 30px;
    height: 30px;
  }

  /* footer 576 */

  .footer__container {
    align-items: center;
    max-width: 576px;
    padding: 32px 14px;
  }

  .footer__navigation {
    width: 45%;
    justify-content: center;
  }

  .footer__logo {
    width: 131px;
    height: 42px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .footer__social-list {
    gap: 0px;
    justify-content: space-evenly;
  }

  .social-list__icon svg {
    width: 40px;
    height: 40px;
  }

  .application {
    min-width: 290px;
    max-width: 80%;
    margin-bottom: 18px;
    border-bottom: 1px solid var(--color-medium-dark);
  }

  .application__title {
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0;
  }

  .application ::placeholder {
    font-size: 14px;
    line-height: 32px;
    color: var(--color-light-gray);
  }

  .application__message {
    margin-bottom: 25px;
  }

  .application__accept {
    justify-content: center;
  }

  .application__btn {
    margin-right: 0;
    margin-bottom: 13px;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }
}
